main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
#interactiune{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
header, #rezultat{
    text-align: center;
}
#joc-roata {
    min-width: 400px;
    min-height: 400px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.canvas-wrapper{
    min-width: 350px;
    min-height: 350px;
    border-radius: 50%;
    border-color: bisque;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border: 5px solid lightgray;
    background-color: #FFCCFF;
}

.indicator{
    position: absolute;
    transform: translateX(-50%);
    z-index: 10;
    top: 35px;;
    left: 50%;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 40px solid black;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.2));

}
.btn-spin{
    border: none;
    border-radius: 50px;
    background-color: #FFB6C1;
    color:darkcyan;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    outline: none;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    
}
.btn-spin:hover{
    background-color: #D87093;
    transform: scale(1.05);
    transition: 0.3s;
    color:aliceblue;
    
}
